#app {
    height: 100vh;
    background: rgb(43, 43, 42);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .area-string {
        border: 2px solid rgb(195, 224, 241);
        flex-grow: 1;
    }
}
